<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
It is advisable to keep your username here the same as on the SA forums but is not required. Eventually avatars will be implemented.
</p>

<br />
<p>
 *Note* Currently all registrations are manually approved. Post in one of the Dominions SA threads to verify goondom, and include a link to your Desura profile to show you bought the game. If that doesn't work for you, we can figure something out. Hit us up on #dom4goons on synirc.  
</p>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label 'SomethingAwful ID' %>
    <%= f.text_field :sa_id %>
  </div>
  <div class="field">
    <%= label_tag 'matryx_link', 'Desura Profile Link' %>
    <%= f.text_field :matryx_link %>
  </div>
  <div class="field">
    <%= recaptcha_tags %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
