<table>
  <tr>
    <th>Name</th>
    <th>Host</th>
    <th>Era</th>
    <th>Server</th>
    <th>Port</th>
    <th>Turn number</th>
    <th>Time to Host</th>
    <th>Turn</th>
  </tr>

<% data.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= link_to game.player.user.username, :controller => "players", :action => "show", :id => game.host_id %></td>
    <td><%= game.era %></td>
    <td><%= game.server %></td>
    <td><%= game.port %></td>
    <td><%= game.turn_number %></td>
    <td>
    <% if !game.host_time.nil? %>
      <% @hours = (game.host_time / (60 * 60 * 1000)).floor %>
      <% @minutes = (game.host_time / (60 * 1000) - @hours * 60).floor %>
      <%= "#{@hours}h #{@minutes}m"%>
      <% else %>
        00h00m
      <% end %>
    </td>
    <% if current_user %>
      <% slots = game.signups.where(:player_id => current_user.player.id) %>
      <% if slots.length > 0 %>
        <% condition = false %>
        <% slots.each {|s| if s.turn_cd == 0 || s.turn_cd.nil? then condition = true end} %>
        <% if condition then status = 'Outstanding'; style = 'background-color:pink;' else status = 'Submitted'; style = 'background-color:lightgreen;' end %>
      <% else %>
        <% status = 'N/A'; style='' %>
      <% end %>
      <td style=<%=style%>>
        <%= status %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>