<h1>Goon Game Service Mk2: Now with more Zmey</h1>
<% if current_user %>

<h2>Your Active Games</h2>
<%= render :partial => "active", :locals => { :data => @youractive } %>
<h2>Your Pending Games</h2>
<%= render :partial => "pending", :locals => { :data => @yourpending } %>
<h2>Your Hosted Games</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Host</th>
        <th>Era</th>
        <th>Server</th>
        <th>Port</th>
        <th>Max Players</th>
        <th>Status</th>
      </tr>

    <% @hosted.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= link_to game.player.user.username, :controller => "players", :action => "show", :id => game.host_id %></td>
        <td><%= game.era %></td>
        <td><%= game.server %></td>
        <td><%= game.port %></td>
        <td><%= game.max_players %></td>
        <td><%= game.status %></td>
      </tr>
    <% end %>
    </table>

<% end %>
<br />
<h2>Pending games</h2>
<%= render :partial => "pending", :locals => { :data => @pending } %>

<br />

<h2>Active games</h2>

<%= render :partial => "active", :locals => { :data => @games } %>

<br />



