<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Host:</b>
  <%= @game.host_id %>
</p>

<p>
  <b>Era:</b>
  <%= @game.era %>
</p>

<p>
  <b>Server:</b>
  <%= @game.server %>
</p>

<p>
  <b>Port:</b>
  <%= @game.port %>
</p>

<p>
  <b>Turn number:</b>
  <%= @game.turn_number %>
</p>

<% debug @nations %>
  <h1>Listing signups</h1>

  <table>
    <tr>
      <th>Nation</th>
      <th>User</th>
      <th>Password</th>
      <th>Status</th>
      <th>Claim Nation</th>
    </tr>

  <% @nations.each do |key, value| %>
    <tr>
      <%= form_for(@signup) do |f| %>
      <td><%= value %></td>
      <td>-</td>
      <td> 
        <%= f.label :password %><br />
        <%= f.text_field :password %>
      </td>
      <td>
        <%= f.label :status %><br />
        <%= f.text_field :status %>
      </td>
      <td>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
      <%= hidden_field_tag(:player_id, current_user.player.id) %>
      <%= hidden_field_tag(:nation_id, key) %>
      <% end %>
    </tr>
  <% end %>
  </table>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
