<p id="notice"><%= notice %></p>

<%= render :partial => "gameinfo", :locals => { :data => @game } %>

<p>
  <b>Turn number:</b>
  <%= @game.turn_number %>
</p>

<p>
  <b>Time to Host:</b>
  <% if !@game.host_time.nil? %>
  <% @hours = (@game.host_time / (60 * 60 * 1000)).floor %>
  <% @minutes = (@game.host_time / (60 * 1000) - @hours * 60).floor %>
  <%= "#{@hours}h #{@minutes}m"%>
  <% else %>
    00h00m
  <% end %>
</p>
<p>
  <b>Last updated:</b>
  <%= @game.last_poll %>
</p>

  <h1>Listing signups</h1>

  <table>
    <tr>
      <th>Nation</th>
      <th>User</th>
      <th>Password</th>
      <th>Status</th>
      <th>Turn?</th>
      <th>Local Time</th>
      <th>Action</th>
    </tr>
  <% @signupsByNation.each do |nid, signup| %>
      <tr>
        <td><%= @nations[nid] %></td>
        <td><%= link_to signup.player.user.username, :controller => "players", :action => "show", :id => signup.player_id %></td>
        <td>
          <% if @game.host_id == current_user.player.id || current_user.admin || signup.player_id == current_user.player.id%>
            <%= signup.password.tr!("A-Za-z", "N-ZA-Mn-za-m") %>
          <% else %>
            Password hidden
          <% end %>
        </td>
        
        <td >
          <%= signup.status %>
        </td>
        <% if signup.status_cd == 0 %>
            <% if (signup.turn_cd == 0 || signup.turn_cd.nil?) %>
                <%= style = 'background-color:OrangeRed;' %>
            <% elsif (signup.turn_cd == 1)%>
                <%= style = 'background-color:Gold' %>
            <% else %>
                <%= style = 'background-color:lightgreen;' %>
            <% end %>
        <% else %>
            <%= style = 'background-color:lightgreen;' %>
        <% end %>
        <td style=<%=style%>>
          <%= signup.turn %>
        </td>
        <td>
          -
        </td>
        <td>
          <% if @game.host_id == current_user.id || current_user.admin %>
          <%= button_to 'Delete', { :controller => "signups", :action => "destroy", :id => signup.id} , :method => 'delete', :confirm => 'Are you sure?' %>
          <% else %>
            Taken
          <% end %>
        </td>
      </tr>
  <% end %>
  </table>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
