<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Host:</b>
  <td><%= link_to @game.player.user.username, :controller => "players", :action => "show", :id => @game.host_id %></td>
</p>

<p>
  <b>Era:</b>
  <%= @game.era %>
</p>

<p>
  <b>Server:</b>
  <%= @game.server %>
</p>

<p>
  <b>Port:</b>
  <%= @game.port %>
</p>

<p>
  <b>Turn number:</b>
  <%= @game.turn_number %>
</p>
<p>
  <b>Time to Host:</b>
  <% @hours = (@game.host_time / (60 * 60 * 1000)).floor %>
  <% @minutes = (@game.host_time / (60 * 1000) - @hours * 60).floor %>
  <%= "#{@hours}h #{@minutes}m"%>
</p>

  <h1>Listing signups</h1>

  <table>
    <tr>
      <th>Nation</th>
      <th>User</th>
      <th>Status</th>
      <th>Turn?</th>
      <th>Local Time</th>
      <th>Action</th>
    </tr>
  <% @signupsByNation.each do |nid, signup| %>
      <tr>
        <td><%= @nations[nid] %></td>
        <td><%= link_to signup.player.user.username, :controller => "players", :action => "show", :id => signup.player_id %></td>
        <td>
          <%= signup.status %>
        </td>
        <td>
          <%= signup.turn %>
        </td>
        <td>
          -
        </td>
        <td>
          <% if @game.host_id == current_user.id || current_user.admin %>
          <%= button_to 'Delete', { :controller => "signups", :action => "destroy", :id => signup.id} , :method => 'delete', :confirm => 'Are you sure?' %>
          <% else %>
            Taken
          <% end %>
        </td>
      </tr>
  <% end %>
  </table>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
