<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Host:</b>
  <%= @game.host_id %>
</p>

<p>
  <b>Era:</b>
  <%= @game.era %>
</p>

<p>
  <b>Server:</b>
  <%= @game.server %>
</p>

<p>
  <b>Port:</b>
  <%= @game.port %>
</p>

<p>
  <b>Turn number:</b>
  <%= @game.turn_number %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
