<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Host:</b>
  <%= @game.host_id %>
</p>

<p>
  <b>Era:</b>
  <%= @game.era %>
</p>

<p>
  <b>Server:</b>
  <%= @game.server %>
</p>

<p>
  <b>Port:</b>
  <%= @game.port %>
</p>

<p>
  <b>Turn number:</b>
  <%= @game.turn_number %>
</p>

<% debug @nations %>
  <h1>Listing signups</h1>

  <table>
    <tr>
      <th>Nation</th>
      <th>User</th>
      <th>Password</th>
      <th>Status</th>
      <th>Claim Nation</th>
    </tr>

  <% @nations.each do |key, value| %>
    <tr>
      <%= form_for @signup, :url => { :controller => :signups, :action => :create } do |f| %>
      <%= f.hidden_field :player_id, { :value => current_user.player.id } %>
      <%= f.hidden_field :nation_id, { :value => key }  %>
      <%= f.hidden_field :game_id, { :value => @game.id } %>
      <td><%= value %></td>
      <td>-</td>
      <td> 
        <%= f.label :password %><br />
        <%= f.text_field :password %>
      </td>
      <td>
        <%= f.label :status %><br />
        <%= f.text_field :status %>
      </td>
      <td>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
      
      <% end %>
    </tr>
  <% end %>
  </table>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
